body {
    margin: auto;
    padding: auto;
}

#card-layout {
    margin-top: 20px;
}

.card-body {
    border-top: 2px solid black;
}

#myNavbar {
    margin-bottom: 10px;
}

.info-carousel {
    margin-top: 4px;
}